$node-border: #2e2e2e;

$connector-border: $node-border;
$connector-fill: #dddddd;

$header-fill: #eeeeee;
$header-border: $node-border;

$connector-x-offset: -0.5em;
$connector-y-offset: 0.2em;

#NodeEditor {
	border: 5px solid red;
	position: relative;
	overflow: hidden;
	width: 1500px;
	height: 800px;
	margin: 20px;
}

#EditorViewport {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	border: 1px solid green;
	background-color: rgb(223, 246, 250);
	z-index: 0;
}

body {
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

svg {
	position: absolute;
	z-index: -100;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
}

.Node {
	position: absolute;
	border: solid 2px $node-border;
	border-radius: 1em;
	text-align: center;
	background-color: white;

	> header {
		border-radius: 1em 1em 0 0;
		border-bottom: 2px solid $header-border;
		background-color: $header-fill;
		user-select: none;
		cursor: pointer;
		padding: 0.1em 1em;
	}

	> ul {
		margin: 0;
		padding: 0;
		list-style: none;

		> li {
			position: relative;
			margin: 0.5em 0;

			> span {
				padding: 0 1em;
			}

			> i {
				position: absolute;
				width: 0.7em;
				height: 0.7em;
				border-radius: 999px;
				background-color: $connector-fill;
				border: 2px solid $connector-border;
				cursor: pointer;
				user-select: none;
			}
		}

		> li.input {
			text-align: left;

			> i {
				left: $connector-x-offset;
				top: $connector-y-offset;
			}
		}

		> li.output {
			text-align: right;

			> i {
				right: $connector-x-offset;
				top: $connector-y-offset;
			}
		}
	}
}
